.tos-page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--base-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tos-page .tos-content-wrapper {
  position: relative;
  width: 80%;
  height: fit-content;
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tos-content-wrapper .header h1 {
    text-align: center;
    padding-bottom: 5rem;
}

.content-group {
    padding-bottom: 2rem;
}